{% extends "base.html.twig" %}

{% block body %}
    <a href="{{ path('panel') }}" >Wróć</a>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Dodaj">
    {{ form_end(form) }}
{% endblock  %}
